.navbar{
    background-color: black;
    padding: 10px 50px;
    height: 25px;
    margin-bottom: 15px;
    position: sticky;
    top: 0px;
    display: flex;
}
.navbar a{
    text-decoration: none;
    padding-right: 30px;
    padding-left: 50px;
    color: white;
}
.bass{
    background-color: #fafafa;
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.bass a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    padding-top: 15px;
}
.bass img{
    width: 80%;
}
.series{
    color: brown;
    font-weight: bold;
    font-size: 20px;
}
.main{
    background-color:#fafafa;
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.main a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    padding-top: 15px;
}
.main img{
    width: 70%;
}
.check{
    background-color:#fafafa;
    text-align:center;
    margin-top: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.check a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    padding-top: 15px;
}
.check img{
    width: 70%;
}
.appleapp{
    margin:5px;
    display: flex;
    gap:20px;
    background-color: #fafafa;
    color: white;
}
.applemonkey{
    padding:10%;
    margin:35px 0;
    background-image: url(img/applemonkey.jpg);
    background-size: cover;
    background-position: bottom;
    text-align: center;
    height: 300px;
    width: 50%;
}
.applemonkey a{
    text-decoration: none;
    color:white;
    font-size: 17.5px;
    padding-top: 15px;
}
.music{
    padding:10%;
    margin: 35px 0;
    background-image: url(img/applemusic2x.jpg);
    background-position: bottom;
    background-size: cover;
    text-align: center;
    height: 300px;
    width: 50%;
}
.music a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding-top: 15px;
}
.appledevice{
    margin: 5px;
    display: flex;
    color: white;
    gap: 20px;
    margin-top: 20px; 
    background-color: #fafafa;
}
.appletv{
    padding: 10%;
    background-image: url(img/appletv.jpg);
    background-size: cover;
    background-position: bottom;
    text-align: center;
    height: 300px;
    width: 40%;
}
.appletv a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding-top: 15px;
}
.appletv img{
    width: 10%;
}
.arcade{
    padding: 10%;
    background-image: url(img/applearcade.jpg);
    background-position: bottom;
    background-size: cover;
    text-align: center;
    width: 40%;
    height: 300px;
}
.arcade a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding-top: 15px;
}
.arcade img{
    width: 10%;
}
.tech{
    margin: 5px;
    display: flex;
    gap: 20px;
    margin-top: 20px
}
.ipad{
    background-color: #fafafa;
    padding-top: 40px;
    text-align: center;
    color: black;
    width: 45%;
    height: 500px;
    padding: 5%;
    overflow: hidden;
}
.ipad a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding-top: 15px;
}
.ipad image{
    padding-top: 40px ;
    width: 40%;
}
.mackbook{
    background-color:#fafafa;
    height: 500px;
    text-align: center;
    color: black;
    width:45%;
    padding-top: 40px;
    padding: 5%;
    overflow: hidden;
}
.mackbook a{
    text-decoration: none;
    color:blue;
    font-size: 20px;
    padding-top: 15px;
}
.mackbook img{
    padding-top: 90px;
    width: 80%;
}
.img-res{
    max-width: 100%;
    height: auto;
}
.tech img{
    width: 100%;
}
footer .footer-link{
    border-bottom: 2px solid #d6d6d6;
    padding-bottom: 8px;
}
.footer-link{
    width: 90%;
}
.footer-link a{
    font-size: 12px;
}
.details{
    width: 70%;
    margin: 0 auto;
}
footer .details1{
    border-bottom: 1px solid #d6d6d6;
    padding: 10px 10px 20px 0;
}
footer .pb{
    margin-bottom: 25px;
}
.pb{
    display: block;
}
.row{
    display: flex;
    justify-content: space-around;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: distribute;
}
.costomer{
    color: #909090;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 2px solid #d6d6d6;
    padding: 10px 10px 20px;
    width: 70%;
    margin: 0 auto;
}
.firstrow{
    flex: 0 0 16.333%;
   -ms-flex:0 0 16.33333%;  
   -webkit-box-flex: 0;
}
.row2{
    flex:0 16.333%;
    font-size: 100%;
}
.row3{
    flex: 0 0 24.5%;
    -ms-flex: 0 0 24.5%;
    -webkit-box-flex: 0;
}
.row4{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24.5%;
    flex: 0 0 24.5%;
}
.row5{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.33333%;
    flex: 0 0 16.33333%;
}
footer a {
    text-decoration: none;
    color: #575757;
    padding-top: 15px;
    font-size: 13px;
    display: block;
}
.pb p {
    display: block;
    padding: 10px 0;
    cursor: pointer;
    color: #3c3c3c;
    font-weight: normal;
}
footer p {
    padding-top: 25px;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}